h1 {
	font-family: Montserrat;
	font-size: 50px;
	font-style: bold;
	margin-top: 80px;
	margin-left: 80px;
	margin-right: 80px;
}

p {
	font-family: Montserrat;
	font-size: 35px;
	line-height: 40 px; 
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 80px;
}